*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #191823;

    & h2{
        color: rgb(123, 152, 152);
        font-size: large;
        letter-spacing: 2px;
        /* margin-bottom: -8%; */
    }

    & h3{
        margin-top: -10%;
        color: antiquewhite;font-size: large;
        
    }
}
.loader{
    width: 20rem;
    aspect-ratio: 1;
    margin-top: -20%;
    background-color: aqua;
    border-radius: 50%;
    position:relative;
    animation: rotateloader 3s linear infinite;
}
.loader::before{
    content: "";
    width: 16rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #191823;
    position:absolute;
    top: 0;
    left: 0;
}
.loader::after{
    content: "";
    width: 4.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: aqua;
    box-shadow: 0 0 1rem rgba(0, 255, 255, 0.425) , 0 0 1.5rem aqua ,0 0 2rem aqua,0 0 2.5rem aqua,0 0 3rem aqua;
    position:absolute;
    top: -10%;
    left: 30%;
}

@keyframes rotateloader{
    
    100%{
        rotate: -360deg;
    }
}